<div style="
  background-color: rgba(93, 184, 184, 0.1);
  display: grid;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-color: rgb(56, 148, 160);
  color: rgb(32, 30, 30);
  opacity: .5;
  height: 600px;
  justify-content: space-around;
  align-items: center;">
  <h1>Welcome to the angular project's demo</h1><br>
  <h2>Explore it by following these links below</h2>
  <div style="display: flex; justify-content: space-around;">
    <button routerLink="users" style="border-radius: 10px; padding: 10px 20px 10px 20px; background-color: aliceblue; border: none; color: black;">Users</button>
    <button routerLink="posts" style="border-radius: 10px; padding: 10px 20px 10px 20px; background-color: aliceblue; border: none; color: black;">Posts</button>
    <button routerLink="clients" style="border-radius: 10px; padding: 10px 20px 10px 20px; background-color: aliceblue; border: none; color: black;">Clients</button>

  </div>
</div>
